<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manager</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
    <link rel="stylesheet" href="manager.css">
    <script
      src="https://kit.fontawesome.com/21ef82ed30.js"
      crossorigin="anonymous"
    ></script>
    
</head>




<% 
let appetizerCount=0
let entreeCount=0
let dessertCount=0
for (let i=0; i<info.length; i++){
    if (info[i].category == "SPECIALS: Appetizer" && info[i].sequence != "0") appetizerCount++ 
    if (info[i].category == "SPECIALS: Entrée" && info[i].sequence != "0") entreeCount++ 
    if (info[i].category == "SPECIALS: Dessert" && info[i].sequence != "0") dessertCount++ 
}

%>
<script>
let appetizerCount = <%=appetizerCount%>
let entreeCount = <%=entreeCount%>
let dessertCount = <%=dessertCount%>
</script>





<body>

  <div id="wrapper">

    <div id="content">
    <nav>
        <h1>olea<span id="content-manager">Content Manager</span></h1>
                
                
                <ul>
                    <li id="specials">Specials</li>
                    <li id="dinner">Dinner</li>
                    <li id="dessert">Dessert</li>
                    <li id="wine">Wine/Drinks</li>
                <li class="active-page">Archive</li>
            </ul>
        </nav>
        <main>
        
    <h1>ARCHIVES:</h1>

    <ul class="specials-appetizers">
      <% for(let i=0; i<info.length;i++){ 
        if( info[i].sequence &&
            info[i].sequence != "" && 
            info[i].sequence == "0" ){ %>
      <li class="special">
        <div><%= info[i]._id %></div>
        <div><%= info[i].category %></div>
        <div><%= info[i].sequence %></div>
        <div><%= info[i].name %></div>
        <div><%= info[i].description %></div>
        <div><%= info[i].price %></div>
        <div><%= info[i].allergies %></div>
        <div><%- `${info[i].timestamp}`.substring(0,24) %></div>
        <span class="unarchive"
          ><i class="fa-solid fa-box-archive"></i> UNarchive/Restore</span
        >&nbsp;&nbsp;
        <span class="delete-archive"><i class="fa-solid fa-trash-can"></i> Delete</span
        >&nbsp;&nbsp;
      </li>
      <% } } %>
    </ul>

  </main>
  <footer>
    <ul>
        <li>Specials</li>
        <li>Dinner</li>
        <li>Dessert</li>
        <li>Wine/Drinks</li>
        <li>Archive</li>
    </ul>
</footer>
  </div><!--#content-->
      </div><!--#wrapper-->
    
        <script src="main.js"></script>
        <script>
          document.querySelector('#specials').addEventListener('click',()=>{
            location.replace('/manager')
          })    
          document.querySelector('#dinner').addEventListener('click',()=>{
            location.replace('/dinnerUpdateCuredMeats')
          })    

        </script>
</body>
</html>