<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manager</title>
    
    <link rel="stylesheet" href="manager.css">
    <script
      src="https://kit.fontawesome.com/21ef82ed30.js"
      crossorigin="anonymous"
    ></script>
    <style>
        .flx{
            display:flex;
            justify-content: space-between;
            width:100%;
            gap:5ch;
            /* border:1px solid red; */
        }
        .left{
            /* border:1px solid blue; */
        }
        .right{
            /* border:1px solid green; */
            min-width:5ch !important;
        }
        .special{
            margin-bottom: 0px;
        }
       
        #controls{
            line-height:30px;
            font-size:19px;
            padding-left:5px;
        }
        #riojas, #controls{
            width:5.5in;
            background:white;
            /* border:solid 1px black; */
            display:inline-block;
            
        }
        #riojas{
            padding: 0px 0px;
            height:8.5in;
            position: relative;
        }
        #riojas{
            padding-left:
            <% 
                for (let i=0; i<info.length; i++){
                    if (info[i].category == 'controls-desserts-back' && info[i].name == 'padding-sides'){ %>
                        <%= info[i].pixels%>
            <%
                    } 
                } 
            %>;
            
            padding-right:
            <% 
                for (let i=0; i<info.length; i++){
                    if (info[i].category == 'controls-desserts-back' && info[i].name == 'padding-sides'){ %>
                        <%= info[i].pixels%>
            <%
                    } 
                } 
            %>;
            
        }

        #riojas, h2{
            font-size:
            <% 
                for (let i=0; i<info.length; i++){
                    if (info[i].category == 'controls-desserts-back' && info[i].name == 'dessertsBackFontSize'){ %>
                        <%= info[i].pixels%>
            <%
                    } 
                } 
            %>;

        }
        #riojas li{
            padding-top:            
            <% 
                for (let i=0; i<info.length; i++){
                    if (info[i].category == 'controls-dessrts-back' && info[i].name == 'padding-between'){ 
                        let half=(info[i].pixels).substring(0,info[i].pixels.length-2)/2
                        %>
                        <%= half%>px
            <%
                    } 
                } 
            %>;
            padding-bottom:
            <% 
                for (let i=0; i<info.length; i++){
                    if (info[i].category == 'controls-desserts-back' && info[i].name == 'padding-between'){ 
                        let half=(info[i].pixels).substring(0,info[i].pixels.length-2)/2
                        %>
                        <%= half%>px
            <%
                    } 
                } 
            %>;
        }
        input{
            text-align: center;
        }
        #flexbox{display:flex;}
        @media (orientation: landscape){
            #flexbox{
                flex-direction: row;
            }
          
        }
        @media (orientation: portrait){
            #flexbox{
                flex-direction: column;
            }
           

        }
        li{
            max-width: none;
        }

        .decaf{
            font-weight: 100;
            font-family: serif;
        }
    </style>
</head>










<body>

    <div id="wrapper">
    <div id="content">

    <nav class="no-print">
        <h1>olea<span id="content-manager">Content Manager</span></h1>
        <ul>
            <a href="/manager"><li>Specials</li></a>
            <a href="/dinnerUpdateCuredMeats"><li>Dinner</li></a>
            <li class="active-page">Dessert</li>
            <li>Wine/Drinks</li>
            <a href="/archive"><li id="archive">Archive</li></a>
        </ul>
        <ul id="nav-ul-bottom">
            <a href="/dessertsBack"><li id="specials-edit">Edit Menu Items</li></a>
            <a href="/dessertsLayoutBack"><li id="specials-format-layout">Format Layout</li></a>
            <li class="active-page" id="desserts-print">Print Preview</li>
            </ul>
    </nav>
    
    
    
    <div id="flexbox" style="flex-direction: row;">    














            
            <div id="riojas">
            <span id="print-logo" style="font-size:50px;font-family: FuturaLight;">olea</span>
                <hr>
                <br>
                <h2>dessert wines</h2>
                <ul>
                <% for(let i=0; i<info.length;i++){ %>
                    <% if (info[i].category == "After Dinner Drink" &&
                           info[i].type == "Dessert Wine"
                    ){ %>
                    <li class="special">
                        <div class="flx">
                            <span class="left"><%= info[i].name %></span>
                            <span class="right" style="font-weight: 900;width:5ch;"><%= info[i].price %></span>
                        </div>
                    </li>
                    <% } %>
                <% } %>
                </ul>

                <br>
                <h2>dessert cocktails</h2>
                <ul>
                <% for(let i=0; i<info.length;i++){ %>
                    <% if (info[i].category == "After Dinner Drink" &&
                           info[i].type == "Dessert Cocktail"
                    ){ %>
                    <li class="special">
                        <div class="flx">
                            <span class="left">
                                <span><b><%= info[i].name %></b></span>
                                <span><%= info[i].description %></span>
                            </span>
                            <span class="right" style="font-weight: 900;width:5ch;"><%= info[i].price %></span>
                        </div>
                    </li>
                    <% } %>
                <% } %>
                </ul>

                <br>
                <h2>japanese whisky</h2>
                <ul>
                <% for(let i=0; i<info.length;i++){ %>
                    <% if (info[i].category == "After Dinner Drink" &&
                           info[i].type == "Japanese Whisky"
                    ){ %>
                    <li class="special">
                        <div class="flx">
                            <span class="left"><%= info[i].name %></span>
                            <span class="right" style="font-weight: 900;width:5ch;"><%= info[i].price %></span>
                        </div>
                    </li>
                    <% } %>
                <% } %>
                </ul>

                <br>
                <h2>single malt scotch</h2>
                <ul>
                <% for(let i=0; i<info.length;i++){ %>
                    <% if (info[i].category == "After Dinner Drink" &&
                           info[i].type == "Scotch"
                    ){ %>
                    <li class="special">
                        <div class="flx">
                            <span class="left"><%= info[i].name %></span>
                            <span class="right" style="font-weight: 900;width:5ch;"><%= info[i].price %></span>
                        </div>
                    </li>
                    <% } %>
                <% } %>
                </ul>

                <br>
                <h2>brandy de Jerez</h2>
                <ul>
                <% for(let i=0; i<info.length;i++){ %>
                    <% if (info[i].category == "After Dinner Drink" &&
                           info[i].type == "Brandy"
                    ){ %>
                    <li class="special">
                        <div class="flx">
                            <span class="left"><%= info[i].name %></span>
                            <span class="right" style="font-weight: 900;width:5ch;"><%= info[i].price %></span>
                        </div>
                    </li>
                    <% } %>
                <% } %>
                </ul>

                <br>
                <h2>grappa</h2>
                <ul>
                <% for(let i=0; i<info.length;i++){ %>
                    <% if (info[i].category == "After Dinner Drink" &&
                           info[i].type == "Grappa"
                    ){ %>
                    <li class="special">
                        <div class="flx">
                            <span class="left"><%= info[i].name %></span>
                            <span class="right" style="font-weight: 900;width:5ch;"><%= info[i].price %></span>
                        </div>
                    </li>
                    <% } %>
                <% } %>
                </ul>






            </div><!--#riojas-->

            <div id="riojas">
            <span id="print-logo" style="font-size:50px;font-family: FuturaLight;">olea</span>
                <hr>
                <br>
                <h2>dessert wines</h2>
                <ul>
                <% for(let i=0; i<info.length;i++){ %>
                    <% if (info[i].category == "After Dinner Drink" &&
                           info[i].type == "Dessert Wine"
                    ){ %>
                    <li class="special">
                        <div class="flx">
                            <span class="left"><%= info[i].name %></span>
                            <span class="right" style="font-weight: 900;width:5ch;"><%= info[i].price %></span>
                        </div>
                    </li>
                    <% } %>
                <% } %>
                </ul>

                <br>
                <h2>dessert cocktails</h2>
                <ul>
                <% for(let i=0; i<info.length;i++){ %>
                    <% if (info[i].category == "After Dinner Drink" &&
                           info[i].type == "Dessert Cocktail"
                    ){ %>
                    <li class="special">
                        <div class="flx">
                            <span class="left">
                                <span><b><%= info[i].name %></b></span>
                                <span><%= info[i].description %></span>
                            </span>
                            <span class="right" style="font-weight: 900;width:5ch;"><%= info[i].price %></span>
                        </div>
                    </li>
                    <% } %>
                <% } %>
                </ul>

                <br>
                <h2>japanese whisky</h2>
                <ul>
                <% for(let i=0; i<info.length;i++){ %>
                    <% if (info[i].category == "After Dinner Drink" &&
                           info[i].type == "Japanese Whisky"
                    ){ %>
                    <li class="special">
                        <div class="flx">
                            <span class="left"><%= info[i].name %></span>
                            <span class="right" style="font-weight: 900;width:5ch;"><%= info[i].price %></span>
                        </div>
                    </li>
                    <% } %>
                <% } %>
                </ul>

                <br>
                <h2>single malt scotch</h2>
                <ul>
                <% for(let i=0; i<info.length;i++){ %>
                    <% if (info[i].category == "After Dinner Drink" &&
                           info[i].type == "Scotch"
                    ){ %>
                    <li class="special">
                        <div class="flx">
                            <span class="left"><%= info[i].name %></span>
                            <span class="right" style="font-weight: 900;width:5ch;"><%= info[i].price %></span>
                        </div>
                    </li>
                    <% } %>
                <% } %>
                </ul>

                <br>
                <h2>brandy de Jerez</h2>
                <ul>
                <% for(let i=0; i<info.length;i++){ %>
                    <% if (info[i].category == "After Dinner Drink" &&
                           info[i].type == "Brandy"
                    ){ %>
                    <li class="special">
                        <div class="flx">
                            <span class="left"><%= info[i].name %></span>
                            <span class="right" style="font-weight: 900;width:5ch;"><%= info[i].price %></span>
                        </div>
                    </li>
                    <% } %>
                <% } %>
                </ul>

                <br>
                <h2>grappa</h2>
                <ul>
                <% for(let i=0; i<info.length;i++){ %>
                    <% if (info[i].category == "After Dinner Drink" &&
                           info[i].type == "Grappa"
                    ){ %>
                    <li class="special">
                        <div class="flx">
                            <span class="left"><%= info[i].name %></span>
                            <span class="right" style="font-weight: 900;width:5ch;"><%= info[i].price %></span>
                        </div>
                    </li>
                    <% } %>
                <% } %>
                </ul>






            </div><!--#riojas-->

            
            </div><!--#flexbox-->

            <footer class="no-print">
                <ul>
                    <li>Specials</li>
                    <li>Dinner</li>
                    <li>Dessert</li>
                    <li>Wine/Drinks</li>
                    <li>Archive</li>
                </ul>
            </footer>
            </div><!--#content-->
            </div><!--#wrapper-->
            
            <script>
                let riojasPage = document.querySelector('#riojas')
                let dessertsBackPaddingSides = document.querySelector('#desserts-back-padding-sides')
                let dessertsBackPaddingBetween = document.querySelector('#desserts-back-padding-between')
                let dessertsBackFontSize = document.querySelector('#desserts-back-font-size')
                let p = document.querySelectorAll('.special')
                let h2 = document.querySelectorAll('h2')
                let clearChanges = document.querySelector('#clear-changes')
                let dessertsBackPrintButton = document.querySelector('#desserts-back-print-button')
                let special = document.querySelectorAll('.special')

                dessertsBackPrintButton.addEventListener('click',(event)=>{
                    event.preventDefault()
                    location.replace('/dessertsBackPrint')
                })
                clearChanges.addEventListener('click',(event)=>{
                    event.preventDefault()
                    location.reload()
                })
                dessertsBackPaddingSides.addEventListener('input', function(evt){
                    riojasPage.style.paddingLeft = `${Number(this.value)}px`
                    riojasPage.style.paddingRight = `${Number(this.value)}px`
                })
                dessertsBackPaddingBetween.addEventListener('input', function(evt){
                    p.forEach((special,i)=>{
                        special.style.paddingTop = `${(Number(this.value))/2}px`
                        special.style.paddingBottom = `${(Number(this.value))/2}px`
                    })
                })
                dessertsBackFontSize.addEventListener('input', function(evt){
                    riojasPage.style.fontSize = `${Number(this.value)}px`
                    h2[0].style.fontSize = `${Number(this.value)}px`
                    h2[1].style.fontSize = `${Number(this.value)}px`
                    h2[2].style.fontSize = `${Number(this.value)}px`
                    h2[3].style.fontSize = `${Number(this.value)}px`
                    h2[4].style.fontSize = `${Number(this.value)}px`
                    h2[5].style.fontSize = `${Number(this.value)}px`
                })
            
            </script>
        <script src="main.js"></script>
       
</body>
</html>