<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manager</title>
    
    <link rel="stylesheet" href="manager.css">
    <script
      src="https://kit.fontawesome.com/21ef82ed30.js"
      crossorigin="anonymous"
    ></script>
    <style>
      
      .special{
            margin-bottom: 0px;
        }
       
        #controls{
            line-height:30px;
            font-size:19px;
            padding-left:5px;
        }
        #riojas, #riojas2{
            width:5.5in;
            background:white;
            /* border:solid 1px black; */
            display:inline-block;
            
        }
        #riojas, #riojas2{
            padding: 0px 0px;
            height:8.5in;
            position: relative;
        }
        #riojas, #riojas2{
            padding-top:
            <% 
                for (let i=0; i<info.length; i++){
                    if (info[i].category == 'controls-riojas' && info[i].name == 'padding-top'){ 
                        
                        %>
                        <%= info[i].pixels %>
            <%
                    } 
                } 
            %>;

            padding-left:
            <% 
                for (let i=0; i<info.length; i++){
                    if (info[i].category == 'controls-riojas' && info[i].name == 'padding-sides'){ %>
                        <%= info[i].pixels%>
            <%
                    } 
                } 
            %>;
            
            padding-right:
            <% 
                for (let i=0; i<info.length; i++){
                    if (info[i].category == 'controls-riojas' && info[i].name == 'padding-sides'){ %>
                        <%= info[i].pixels%>
            <%
                    } 
                } 
            %>;
            
        }
        .pastry-chef{

            padding-left:
            <% 
                for (let i=0; i<info.length; i++){
                    if (info[i].category == 'controls-riojas' && info[i].name == 'padding-sides'){ %>
                        <%= info[i].pixels%>
            <%
                    } 
                } 
            %>;
            
            padding-right:
            <% 
                for (let i=0; i<info.length; i++){
                    if (info[i].category == 'controls-riojas' && info[i].name == 'padding-sides'){ %>
                        <%= info[i].pixels%>
            <%
                    } 
                } 
            %>;

            font-size: 
            <% 
                for (let i=0; i<info.length; i++){
                    if (info[i].category == 'controls-riojas' && info[i].name == 'riojasFontSize'){ %>
                        <%= info[i].pixels.slice(0,-2)*0.75 %>px
            <%
                    } 
                } 
            %>
            ;
        }

        .legal{
            font-size: 
            <% 
                for (let i=0; i<info.length; i++){
                    if (info[i].category == 'controls-riojas' && info[i].name == 'riojasFontSize'){ %>
                        <%= info[i].pixels.slice(0,-2)*0.6 %>px
            <%
                    } 
                } 
            %>
            ;
        }

        ul{
            font-family:serif;
        }
        
        #riojas,#riojas2,h2{
            font-size:
            <% 
                for (let i=0; i<info.length; i++){
                    if (info[i].category == 'controls-riojas' && info[i].name == 'riojasFontSize'){ %>
                        <%= info[i].pixels%>
            <%
                    } 
                } 
            %>;

        }
        #riojas li, #riojas2 li{
            padding-top:            
            <% 
                for (let i=0; i<info.length; i++){
                    if (info[i].category == 'controls-riojas' && info[i].name == 'padding-between'){ 
                        let half=(info[i].pixels).substring(0,info[i].pixels.length-2)/2
                        %>
                        <%= half%>px
            <%
                    } 
                } 
            %>;
            padding-bottom:
            <% 
                for (let i=0; i<info.length; i++){
                    if (info[i].category == 'controls-riojas' && info[i].name == 'padding-between'){ 
                        let half=(info[i].pixels).substring(0,info[i].pixels.length-2)/2
                        %>
                        <%= half%>px
            <%
                    } 
                } 
            %>;
        }
        input{
            text-align: center;
        }
        #flexbox{display:flex;}
        @media (orientation: landscape){
            #flexbox{
                flex-direction: row;
            }
          
        }
        @media (orientation: portrait){
            #flexbox{
                flex-direction: row;
            }
           

        }
        li{
            max-width: none;
        }
        .decaf{
            font-weight: 100;
            font-family: serif;
        }

    </style>
</head>










<body>

    <div id="wrapper">
    <div id="content">

    <nav class="no-print">
        <h1>olea<span id="content-manager">Content Manager</span></h1>
        <ul>
            <a href="/manager"><li>Specials</li></a>
            <a href="/dinnerUpdateCuredMeats"><li>Dinner</li></a>
            <li class="active-page">Dessert</li>
            <li>Wine/Drinks</li>
            <a href="/archive"><li id="archive">Archive</li></a>
        </ul>
        <ul id="nav-ul-bottom">
            <a href="/dessertsUpdateDesserts"><li id="specials-edit">Edit Menu Items</li></a>
            <a href="/dessertsLayout"><li id="specials-format-layout">Format Layout</li></a>
            <li class="active-page" id="riojas-print-preview">Print Preview</li>
            </ul>
    </nav>
    
    
    
    <div id="flexbox">    

                
            <div id="riojas">
            <span id="print-logo" style="font-size:50px;font-family: FuturaLight;">olea</span>
                <hr>
                <ul>
                <% for(let i=0; i<info.length;i++){ %>
                    <% if (info[i].category == "Dessert"){ %>
                    <li class="special">

                        <span class="name"><%= info[i].name %></span>
                        <span><%- info[i].description %></span>
                        <span style="font-weight: 900;"><%= info[i].price %></span>
                    </li>
                    <% } %>
                <% } %>
                </ul>
                <br>
                <h2 class="coffee-title">coffee <span class="decaf">(decaffeinated available)</span></h2>
                coffee <b>2.5</b> / cappuccino <b>5</b> / cortado <b>3.5</b><br>
                espresso <b>3.5</b> / double espresso <b>5</b><br><br>

                <h2 class="coffee-title">organic-artisan whole leaf tea <span class="decaf">(pouch) <span style="font-weight: 900;">3.75</span></span> </h2>
                black: english breakfast, decaf earl grey<br>
                green: white orchard, spring jasmine, tropical<br>
                herbal (caffeine free): chamomille-citrus, mint


                <div style="width:5.5in;" id="printer-dead-space" class="no-print"></div>
                <div class="pastry-chef" style="position:absolute;left:0;bottom:80px;width:100%;">
                    jessica delgado, pastry chef
                    <hr style="margin-top:2px;">
                    <span class="legal">please alert your server if you have special dietary requirements</span>    
                </div><!--#pastry-chef-->

            </div><!--#riojas-->

            <div id="riojas2">
            <span id="print-logo" style="font-size:50px;font-family: FuturaLight;">olea</span>
                <hr>
                <ul>
                <% for(let i=0; i<info.length;i++){ %>
                    <% if (info[i].category == "Dessert"){ %>
                    <li class="special">

                        <span class="name"><%= info[i].name %></span>
                        <span><%- info[i].description %></span>
                        <span style="font-weight: 900;"><%= info[i].price %></span>
                    </li>
                    <% } %>
                <% } %>
                </ul>
                <br>
                <h2 class="coffee-title">coffee <span class="decaf">(decaffeinated available)</span></h2>
                coffee <b>2.5</b> / cappuccino <b>5</b> / cortado <b>3.5</b><br>
                espresso <b>3.5</b> / double espresso <b>5</b><br><br>

                <h2 class="coffee-title">organic-artisan whole leaf tea <span class="decaf">(pouch) <span style="font-weight: 900;">3.75</span></span> </h2>
                black: english breakfast, decaf earl grey<br>
                green: white orchard, spring jasmine, tropical<br>
                herbal (caffeine free): chamomille-citrus, mint


                <div style="width:5.5in;" id="printer-dead-space" class="no-print"></div>
                <div class="pastry-chef" style="position:absolute;left:0;bottom:80px;width:100%;">
                    jessica delgado, pastry chef
                    <hr style="margin-top:2px;">
                    <span class="legal">please alert your server if you have special dietary requirements</span>    
                </div><!--#pastry-chef-->

            </div><!--#riojas2-->

            
            </div><!--#flexbox-->

            <footer class="no-print">
                <ul>
                    <li>Specials</li>
                    <li>Dinner</li>
                    <li>Dessert</li>
                    <li>Wine/Drinks</li>
                    <li>Archive</li>
                </ul>
            </footer>
            </div><!--#content-->
            </div><!--#wrapper-->
            
            <script>
                let riojasPage = document.querySelector('#riojas')
                let todaysSpecials = document.querySelector('#todays-specials')
                let paddingBottomControl = document.querySelector('#padding-bottom-control')
                let legalDisclaimer = document.querySelector('#legal-disclaimer')
                let p = document.querySelectorAll('.special')
                let appetizerHeading = document.querySelector('#appetizer-heading')
                let entreeHeading = document.querySelector('#entree-heading')
                let dessertHeading = document.querySelector('#dessert-heading')
                let legalFontSizeControl = document.querySelector('#legal-font-size-control')
                let legalDisclaimerSwitch = document.querySelector('#legal-disclaimer-switch')
                let special = document.querySelectorAll('.special')

            
            </script>
        <script src="main.js"></script>
       
</body>
</html>