<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manager</title>
    
    <link rel="stylesheet" href="manager.css">
    <script
      src="https://kit.fontawesome.com/21ef82ed30.js"
      crossorigin="anonymous"
    ></script>
    <style>
      
      .special{
            margin-bottom: 0px;
        }
       
        #controls{
            line-height:30px;
            font-size:19px;
            padding-left:5px;
        }
        #riojas, #controls{
            width:5in;
            background:white;
            border:solid 1px black;
            display:inline-block;
            
        }
        #riojas{
            padding: 0px 0px;
            height:8in;
            position: relative;
        }
        #riojas{
            padding-top:
            <% 
                for (let i=0; i<info.length; i++){
                    if (info[i].category == 'controls-riojas' && info[i].name == 'padding-top'){ 
                        
                        %>
                        <%= info[i].pixels %>
            <%
                    } 
                } 
            %>;

            padding-left:
            <% 
                for (let i=0; i<info.length; i++){
                    if (info[i].category == 'controls-riojas' && info[i].name == 'padding-sides'){ %>
                        <%= info[i].pixels%>
            <%
                    } 
                } 
            %>;
            
            padding-right:
            <% 
                for (let i=0; i<info.length; i++){
                    if (info[i].category == 'controls-riojas' && info[i].name == 'padding-sides'){ %>
                        <%= info[i].pixels%>
            <%
                    } 
                } 
            %>;
            
        }
        
        ul{
            font-family:serif;
        }
        
        #riojas{
            font-size:
            <% 
                for (let i=0; i<info.length; i++){
                    if (info[i].category == 'controls-riojas' && info[i].name == 'riojasFontSize'){ %>
                        <%= info[i].pixels%>
            <%
                    } 
                } 
            %>;

        }
        #riojas li{
            padding-top:            
            <% 
                for (let i=0; i<info.length; i++){
                    if (info[i].category == 'controls-riojas' && info[i].name == 'padding-between'){ 
                        let half=(info[i].pixels).substring(0,info[i].pixels.length-2)/2
                        %>
                        <%= half%>px
            <%
                    } 
                } 
            %>;
            padding-bottom:
            <% 
                for (let i=0; i<info.length; i++){
                    if (info[i].category == 'controls-riojas' && info[i].name == 'padding-between'){ 
                        let half=(info[i].pixels).substring(0,info[i].pixels.length-2)/2
                        %>
                        <%= half%>px
            <%
                    } 
                } 
            %>;
        }
        input{
            text-align: center;
        }
        #flexbox{display:flex;}
        @media (orientation: landscape){
            #flexbox{
                flex-direction: row;
            }
          
        }
        @media (orientation: portrait){
            #flexbox{
                flex-direction: column;
            }
           

        }
        li{
            max-width: none;
        }

        #sangria,
        #drinks,
        #wine-list-1-inner,
        #wines{

          font-size: 14.3px;
        }
        #wine-list-1-inner,
        #wines{
            border:1px solid black;
            /* overflow: hidden; */
            width:21in;
            height: 8.5in;
            columns:6;
            column-fill: auto;
            column-rule:1px solid black;
            
        }
        #wine-list-2-inner{
            width:28in;
            height: 8.5in;
            position:relative;
            right:14in;
        }
    </style>
</head>

<% 
let bottleCount=0
let canCount=0
let draftCount=0
for (let i=0; i<info.length; i++){
    if (info[i].type == "Bottle") bottleCount++ 
    if (info[i].type == "Can") canCount++ 
    if (info[i].type == "Draft") draftCount++ 
}

%>
<script>
  let bottleCount = <%=bottleCount%>
  let canCount = <%=canCount%>
  let canCount = <%=draftCount%>
  </script>









<body>

    <div id="wrapper">
    <div id="content">

    <nav>
        <h1>olea<span id="content-manager">Content Manager</span></h1>
        <ul>
            <li class="active-page">Specials</li>
            <a href="/dinnerUpdateCuredMeats"><li>Dinner</li></a>
            <li>Dessert</li>
            <li>Wine/Drinks</li>
            <a href="/archive"><li id="archive">Archive</li></a>
        </ul>
        <ul id="nav-ul-bottom">
            <a href="/manager"><li id="specials-edit">Edit Menu Items</li></a>
            <li class="active-page" id="specials-format-layout">Format Layout</li>
            <a href="/riojasPrintPreview"><li id="riojas-print-preview">Print Preview</li></a>
            </ul>
    </nav>
    
    
    
    <h1 id="page-title">wine menu</h1><br><br>
    <div id="flexbox">    

            <div id="controls">
                <form method="POST" action="/saveChangesRiojas">
                    FORMAT PAGE LAYOUT<br>
                    Page Space Left & Right: <input name="riojasPaddingSides" id="riojas-padding-sides" type="text" size="2"> px min10px<br>
                    Space between menu items: <input name="riojasPaddingBetween" id="riojas-padding-between" type="text" size="2"> px <br>
                  
                    
                   

                    Font Size: <input name="riojasFontSize" id="riojas-font-size" type="text" size="2"> px<br>
                    <button id="clear-changes">Clear Changes</button> 
                    <input type="submit" id="save-changes" value="Save Changes"> 
                    <button id="riojas-print-preview-button">Print Preview</button>
                </form>
            </div><!--#controls-->















                
            <div id="wine-list-1" 
            style="width:14in;
            height:8.5in;
            overflow: hidden;
            border-right:1px solid black;
            ">

            <div id="wine-list-1-inner">
            
                <h2>wine by the glass</h2><br>

                <h3>Cava</h3>
                <ul>
                <% for(let i=0; i<info.length;i++){ %>
                    <% if (info[i].category == "BTG" &&
                           info[i].type == "Cava"){ %>
                    <li class="special">

                        <span><%= info[i].grapes %></span>
                        <span class="name"><%= info[i].name %></span>
                        <span><%= info[i].vintage %></span>
                        <span><%= info[i].description %></span>
                        <span><%= info[i].region %></span>
                        <span><%= info[i].price %></span>
                    </li>
                    <br>
                    <% } %>
                <% } %>
                </ul>

                <h3>White</h3>
                <ul>
                <% for(let i=0; i<info.length;i++){ %>
                    <% if (info[i].category == "BTG" &&
                           info[i].type == "White"){ %>
                    <li class="special">

                        <span><%= info[i].grapes %></span>
                        <span class="name"><%= info[i].name %></span>
                        <span><%= info[i].vintage %></span>
                        <span><%= info[i].description %></span>
                        <span><%= info[i].region %></span>
                        <span><%= info[i].price %></span>
                    </li>
                    <br>
                    <% } %>
                <% } %>
                </ul>

                <h3>Rosé</h3>
                <ul>
                <% for(let i=0; i<info.length;i++){ %>
                    <% if (info[i].category == "BTG" &&
                           info[i].type == "Rose"){ %>
                    <li class="special">

                        <span><%= info[i].grapes %></span>
                        <span class="name"><%= info[i].name %></span>
                        <span><%= info[i].vintage %></span>
                        <span><%= info[i].description %></span>
                        <span><%= info[i].region %></span>
                        <span><%= info[i].price %></span>
                    </li>
                    <br>
                    <% } %>
                <% } %>
                </ul>

                <h3>Red</h3>
                <ul>
                <% for(let i=0; i<info.length;i++){ %>
                    <% if (info[i].category == "BTG" &&
                           info[i].type == "Red"){ %>
                    <li class="special">

                        <span><%= info[i].grapes %></span>
                        <span class="name"><%= info[i].name %></span>
                        <span><%= info[i].vintage %></span>
                        <span><%= info[i].description %></span>
                        <span><%= info[i].region %></span>
                        <span><%= info[i].price %></span>
                    </li>
                    <br>
                    <% } %>
                <% } %>
                </ul>

                <h2>cava & champagne</h2><br>
        
                <ul class="specials-appetizers">
                  <% for(let i=0; i<info.length;i++){ 
                    if( info[i].type == "Sparkling"){ %>
                  <li class="special">
                    
                    <span><%= info[i].grapes %></span>
                    <span class="name"><%= info[i].name %></span>
                    <span><%= info[i].vintage %></span>
                    <span><%= info[i].description %></span>
                    <span><%= info[i].region %></span>
                    <span><%= info[i].price %></span>
                    
                            
                   </li>
                   <br>
                  <% } } %>
                </ul>


                <h2>rosé</h2><br>
                
                <ul class="specials-appetizers">
                  <% for(let i=0; i<info.length;i++){ 
                    if( info[i].type == "Rosé"){ %>
                  <li class="special">
                    
                    <span><%= info[i].grapes %></span>
                    <span class="name"><%= info[i].name %></span>
                    <span><%= info[i].vintage %></span>
                    <span><%= info[i].description %></span>
                    <span><%= info[i].region %></span>
                    <span><%= info[i].price %></span>
        
                            
                   </li>
                   <br>
                  <% } } %>
                </ul>

                <h2>white</h2><br>
                <h3>Spain</h3><br>
                <ul class="specials-appetizers">
                  <% for(let i=0; i<info.length;i++){ 
                    if( info[i].type == "White" &&
                        info[i].country == "Spain"){ %>
                  <li class="special">
                    
                    <span><%= info[i].grapes %></span>
                    <span class="name"><%= info[i].name %></span>
                    <span><%= info[i].vintage %></span>
                    <span><%= info[i].description %></span>
                    <span><%= info[i].region %></span>
                    <span><%= info[i].price %></span>
        
                            
                   </li>
                   <br>
                  <% } } %>
                </ul>                

                <h3>France</h3><br>
                <ul class="specials-appetizers">
                  <% for(let i=0; i<info.length;i++){ 
                    if( info[i].type == "White" &&
                        info[i].country == "France"){ %>
                  <li class="special">
                    
                    <span><%= info[i].grapes %></span>
                    <span class="name"><%= info[i].name %></span>
                    <span><%= info[i].vintage %></span>
                    <span><%= info[i].description %></span>
                    <span><%= info[i].region %></span>
                    <span><%= info[i].price %></span>
        
                            
                   </li>
                   <br>
                  <% } } %>
                </ul>                

                <h3>Italy</h3><br>
                <ul class="specials-appetizers">
                  <% for(let i=0; i<info.length;i++){ 
                    if( info[i].type == "White" &&
                        info[i].country == "Italy"){ %>
                  <li class="special">
                    
                    <span><%= info[i].grapes %></span>
                    <span class="name"><%= info[i].name %></span>
                    <span><%= info[i].vintage %></span>
                    <span><%= info[i].description %></span>
                    <span><%= info[i].region %></span>
                    <span><%= info[i].price %></span>
        
                            
                   </li>
                   <br>
                  <% } } %>
                </ul>                


                <h3>Germany</h3><br>
                <ul class="specials-appetizers">
                  <% for(let i=0; i<info.length;i++){ 
                    if( info[i].type == "White" &&
                        info[i].country == "Germany"){ %>
                  <li class="special">
                    
                    <span><%= info[i].grapes %></span>
                    <span class="name"><%= info[i].name %></span>
                    <span><%= info[i].vintage %></span>
                    <span><%= info[i].description %></span>
                    <span><%= info[i].region %></span>
                    <span><%= info[i].price %></span>
        
                            
                   </li>
                   <br>
                  <% } } %>
                </ul>                


                <h2>red</h2><br>

                <h3>Spain</h3><br>
                <ul class="specials-appetizers">
                  <% for(let i=0; i<info.length;i++){ 
                    if( info[i].type == "Red" &&
                        info[i].country == "Spain"){ %>
                  <li class="special">
                    
                    <span><%= info[i].grapes %></span>
                    <span class="name"><%= info[i].name %></span>
                    <span><%= info[i].vintage %></span>
                    <span><%= info[i].description %></span>
                    <span><%= info[i].region %></span>
                    <span><%= info[i].price %></span>
        
                            
                   </li>
                   <br>
                  <% } } %>
                </ul>                

                <h3>France</h3><br>
                <ul class="specials-appetizers">
                  <% for(let i=0; i<info.length;i++){ 
                    if( info[i].type == "Red" &&
                        info[i].country == "France"){ %>
                  <li class="special">
                    
                    <span><%= info[i].grapes %></span>
                    <span class="name"><%= info[i].name %></span>
                    <span><%= info[i].vintage %></span>
                    <span><%= info[i].description %></span>
                    <span><%= info[i].region %></span>
                    <span><%= info[i].price %></span>
        
                            
                   </li>
                   <br>
                  <% } } %>
                </ul>                

                
                <h3>Italy</h3><br>
                <ul class="specials-appetizers">
                  <% for(let i=0; i<info.length;i++){ 
                    if( info[i].type == "Red" &&
                        info[i].country == "Italy"){ %>
                  <li class="special">
                    
                    <span><%= info[i].grapes %></span>
                    <span class="name"><%= info[i].name %></span>
                    <span><%= info[i].vintage %></span>
                    <span><%= info[i].description %></span>
                    <span><%= info[i].region %></span>
                    <span><%= info[i].price %></span>
        
                            
                   </li>
                   <br>
                  <% } } %>
                </ul>                

            </div><!--#wine-list-1-inner-->
            </div><!--#wine-list-1-->
            
            
            </div><!--#flexbox-->

            <div id="wine-list-2" 
            style="width:14in;
            height:8.5in;
            overflow: hidden;
            ">
            <div id="wine-list-2-inner"
            style="
            position: relative;
            width: 28in;
            display: flex;
            ">


                <span id="wines" style="display: inline-block;">
            
                  <h2>wine by the glass</h2><br>

                  <h3>Cava</h3>
                  <ul>
                  <% for(let i=0; i<info.length;i++){ %>
                      <% if (info[i].category == "BTG" &&
                             info[i].type == "Cava"){ %>
                      <li class="special">
  
                          <span><%= info[i].grapes %></span>
                          <span class="name"><%= info[i].name %></span>
                          <span><%= info[i].vintage %></span>
                          <span><%= info[i].description %></span>
                          <span><%= info[i].region %></span>
                          <span><%= info[i].price %></span>
                      </li>
                      <br>
                      <% } %>
                  <% } %>
                  </ul>
  
                  <h3>White</h3>
                  <ul>
                  <% for(let i=0; i<info.length;i++){ %>
                      <% if (info[i].category == "BTG" &&
                             info[i].type == "White"){ %>
                      <li class="special">
  
                          <span><%= info[i].grapes %></span>
                          <span class="name"><%= info[i].name %></span>
                          <span><%= info[i].vintage %></span>
                          <span><%= info[i].description %></span>
                          <span><%= info[i].region %></span>
                          <span><%= info[i].price %></span>
                      </li>
                      <br>
                      <% } %>
                  <% } %>
                  </ul>
  
                  <h3>Rosé</h3>
                  <ul>
                  <% for(let i=0; i<info.length;i++){ %>
                      <% if (info[i].category == "BTG" &&
                             info[i].type == "Rose"){ %>
                      <li class="special">
  
                          <span><%= info[i].grapes %></span>
                          <span class="name"><%= info[i].name %></span>
                          <span><%= info[i].vintage %></span>
                          <span><%= info[i].description %></span>
                          <span><%= info[i].region %></span>
                          <span><%= info[i].price %></span>
                      </li>
                      <br>
                      <% } %>
                  <% } %>
                  </ul>
  
                  <h3>Red</h3>
                  <ul>
                  <% for(let i=0; i<info.length;i++){ %>
                      <% if (info[i].category == "BTG" &&
                             info[i].type == "Red"){ %>
                      <li class="special">
  
                          <span><%= info[i].grapes %></span>
                          <span class="name"><%= info[i].name %></span>
                          <span><%= info[i].vintage %></span>
                          <span><%= info[i].description %></span>
                          <span><%= info[i].region %></span>
                          <span><%= info[i].price %></span>
                      </li>
                      <br>
                      <% } %>
                  <% } %>
                  </ul>
  
                  <h2>cava & champagne</h2><br>
          
                  <ul class="specials-appetizers">
                    <% for(let i=0; i<info.length;i++){ 
                      if( info[i].type == "Sparkling"){ %>
                    <li class="special">
                      
                      <span><%= info[i].grapes %></span>
                      <span class="name"><%= info[i].name %></span>
                      <span><%= info[i].vintage %></span>
                      <span><%= info[i].description %></span>
                      <span><%= info[i].region %></span>
                      <span><%= info[i].price %></span>
                      
                              
                     </li>
                     <br>
                    <% } } %>
                  </ul>
  
  
                  <h2>rosé</h2><br>
                  
                  <ul class="specials-appetizers">
                    <% for(let i=0; i<info.length;i++){ 
                      if( info[i].type == "Rosé"){ %>
                    <li class="special">
                      
                      <span><%= info[i].grapes %></span>
                      <span class="name"><%= info[i].name %></span>
                      <span><%= info[i].vintage %></span>
                      <span><%= info[i].description %></span>
                      <span><%= info[i].region %></span>
                      <span><%= info[i].price %></span>
          
                              
                     </li>
                     <br>
                    <% } } %>
                  </ul>
  
                  <h2>white</h2><br>
                  <h3>Spain</h3><br>
                  <ul class="specials-appetizers">
                    <% for(let i=0; i<info.length;i++){ 
                      if( info[i].type == "White" &&
                          info[i].country == "Spain"){ %>
                    <li class="special">
                      
                      <span><%= info[i].grapes %></span>
                      <span class="name"><%= info[i].name %></span>
                      <span><%= info[i].vintage %></span>
                      <span><%= info[i].description %></span>
                      <span><%= info[i].region %></span>
                      <span><%= info[i].price %></span>
          
                              
                     </li>
                     <br>
                    <% } } %>
                  </ul>                
  
                  <h3>France</h3><br>
                  <ul class="specials-appetizers">
                    <% for(let i=0; i<info.length;i++){ 
                      if( info[i].type == "White" &&
                          info[i].country == "France"){ %>
                    <li class="special">
                      
                      <span><%= info[i].grapes %></span>
                      <span class="name"><%= info[i].name %></span>
                      <span><%= info[i].vintage %></span>
                      <span><%= info[i].description %></span>
                      <span><%= info[i].region %></span>
                      <span><%= info[i].price %></span>
          
                              
                     </li>
                     <br>
                    <% } } %>
                  </ul>                
  
                  <h3>Italy</h3><br>
                  <ul class="specials-appetizers">
                    <% for(let i=0; i<info.length;i++){ 
                      if( info[i].type == "White" &&
                          info[i].country == "Italy"){ %>
                    <li class="special">
                      
                      <span><%= info[i].grapes %></span>
                      <span class="name"><%= info[i].name %></span>
                      <span><%= info[i].vintage %></span>
                      <span><%= info[i].description %></span>
                      <span><%= info[i].region %></span>
                      <span><%= info[i].price %></span>
          
                              
                     </li>
                     <br>
                    <% } } %>
                  </ul>                
  
  
                  <h3>Germany</h3><br>
                  <ul class="specials-appetizers">
                    <% for(let i=0; i<info.length;i++){ 
                      if( info[i].type == "White" &&
                          info[i].country == "Germany"){ %>
                    <li class="special">
                      
                      <span><%= info[i].grapes %></span>
                      <span class="name"><%= info[i].name %></span>
                      <span><%= info[i].vintage %></span>
                      <span><%= info[i].description %></span>
                      <span><%= info[i].region %></span>
                      <span><%= info[i].price %></span>
          
                              
                     </li>
                     <br>
                    <% } } %>
                  </ul>                
  
  
                  <h2>red</h2><br>
  
                  <h3>Spain</h3><br>
                  <ul class="specials-appetizers">
                    <% for(let i=0; i<info.length;i++){ 
                      if( info[i].type == "Red" &&
                          info[i].country == "Spain"){ %>
                    <li class="special">
                      
                      <span><%= info[i].grapes %></span>
                      <span class="name"><%= info[i].name %></span>
                      <span><%= info[i].vintage %></span>
                      <span><%= info[i].description %></span>
                      <span><%= info[i].region %></span>
                      <span><%= info[i].price %></span>
          
                              
                     </li>
                     <br>
                    <% } } %>
                  </ul>                
  
                  <h3>France</h3><br>
                  <ul class="specials-appetizers">
                    <% for(let i=0; i<info.length;i++){ 
                      if( info[i].type == "Red" &&
                          info[i].country == "France"){ %>
                    <li class="special">
                      
                      <span><%= info[i].grapes %></span>
                      <span class="name"><%= info[i].name %></span>
                      <span><%= info[i].vintage %></span>
                      <span><%= info[i].description %></span>
                      <span><%= info[i].region %></span>
                      <span><%= info[i].price %></span>
          
                              
                     </li>
                     <br>
                    <% } } %>
                  </ul>                
  
                  
                  <h3>Italy</h3><br>
                  <ul class="specials-appetizers">
                    <% for(let i=0; i<info.length;i++){ 
                      if( info[i].type == "Red" &&
                          info[i].country == "Italy"){ %>
                    <li class="special">
                      
                      <span><%= info[i].grapes %></span>
                      <span class="name"><%= info[i].name %></span>
                      <span><%= info[i].vintage %></span>
                      <span><%= info[i].description %></span>
                      <span><%= info[i].region %></span>
                      <span><%= info[i].price %></span>
          
                              
                     </li>
                     <br>
                    <% } } %>
                  </ul>                
  
  
            </span><!--#wines-->
                <span id="sangria" 
                style="width:3.5in;
                        height:8.5in;
                        border-bottom:1px solid black;
                        display:inline-block;
                        
                        ">

                <h2>sangría</h2>
                <br>

                <ul>
                <% for(let i=0; i<info.length;i++){ %>
                    <% if (info[i].category == "Sangria"){ %>
                    <li class="special">

                        <span class="name"><%= info[i].name %></span>
                        <span><%= info[i].description %></span>
                        <span><%= info[i].price %></span>
                    </li>
                    <br>
                    <% } %>
                <% } %>
                </ul>



                <h2>non-alcoholic</h2>
                <br>

                <ul>
                <% for(let i=0; i<info.length;i++){ %>
                    <% if (info[i].category == "Non-Alcoholic"){ %>
                    <li class="special">

                        <span class="name"><%= info[i].name %></span>
                        <span><%= info[i].description %></span>
                        <span><%= info[i].price %></span>
                    </li>
                    <br>
                    <% } %>
                <% } %>
                </ul>


                <h2>beer</h2>
                <br>

                <% if (bottleCount > 0){%>
                    <h2>BOTTLE</h2>
                    <br>
                   <% } %>
            
                   <ul class="specials-appetizers">
                    <% for(let i=0; i<info.length;i++){ 
                      if( info[i].category == "Beer" &&
                          info[i].type == "Bottle"){ %>
                    <li class="special">
                      
                      <span><%= info[i].name %></span>
                      <span><%= info[i].description %></span>
                      <span><%= info[i].price %></span>
          
                              
                     </li>
                     <br>
                    <% } } %>
                  </ul>

                  

                  <% if (canCount > 0){%>
                    <h2>CAN</h2>
                    <br>
                   <% } %>
            
                   <ul class="specials-appetizers">
                    <% for(let i=0; i<info.length;i++){ 
                      if( info[i].category == "Beer" &&
                          info[i].type == "Can"){ %>
                    <li class="special">
                      
                        <span><%= info[i].name %></span>
                        <span><%= info[i].description %></span>
                        <span><%= info[i].price %></span>
                                
                     </li>
                     <br>
                    <% } } %>
                  </ul>



                  <% if (draftCount > 0){%>
                    <h2>DRAFT</h2>
                    <br>
                   <% } %>
            
                   <ul class="specials-appetizers">
                    <% for(let i=0; i<info.length;i++){ 
                      if( info[i].category == "Beer" &&
                          info[i].type == "Draft"){ %>
                    <li class="special">
                      
                        <span><%= info[i].name %></span>
                        <span><%= info[i].description %></span>
                        <span><%= info[i].price %></span>
                                
                     </li>
                     <br>
                    <% } } %>
                  </ul>


                </span>
                
                <span id="drinks" 
                style="width:3.5in;
                        height:8.5in;
                        border-left:1px solid black;
                        border-bottom:1px solid black;
                        border-right:1px solid black;
                        display: inline-block;
                        position: relative;">


                <h2>specialty drinks</h2>
                <br>

                <ul>
                <% for(let i=0; i<info.length;i++){ %>
                    <% if (info[i].category == "Cocktail"){ %>
                    <li class="special">

                        <span class="name"><%= info[i].name %></span>
                        <span><%= info[i].description %></span>
                        <span><%= info[i].price %></span>
                    </li>
                    <br>
                    <% } %>
                <% } %>
                </ul>


                <h2>Jerez, Sanlúcar de Barrameda</h2>
                <br>

                <ul>
                <% for(let i=0; i<info.length;i++){ %>
                    <% if (info[i].category == "Sherry"){ %>
                    <li class="special">

                        <span class="name"><%= info[i].name %></span>
                        <span><%= info[i].description %></span>
                        <span><%= info[i].price %></span>
                    </li>
                    <br>
                    <% } %>
                <% } %>
                </ul>

                    
                </span>
            </div><!--#wine-list-2-inner-->

            </div><!--#wine-list-2-->


<br><br><br>

            <footer>
                <ul>
                    <li>Specials</li>
                    <li>Dinner</li>
                    <li>Dessert</li>
                    <li>Wine/Drinks</li>
                    <li>Archive</li>
                </ul>
            </footer>
            </div><!--#content-->
            </div><!--#wrapper-->
            
            <script>
                let riojasPage = document.querySelector('#riojas')
                let riojasPaddingSides = document.querySelector('#riojas-padding-sides')
                let riojasPaddingBetween = document.querySelector('#riojas-padding-between')
                let todaysSpecials = document.querySelector('#todays-specials')
                let paddingBottomControl = document.querySelector('#padding-bottom-control')
                let legalDisclaimer = document.querySelector('#legal-disclaimer')
                let riojasFontSize = document.querySelector('#riojas-font-size')
                let p = document.querySelectorAll('.special')
                let appetizerHeading = document.querySelector('#appetizer-heading')
                let entreeHeading = document.querySelector('#entree-heading')
                let dessertHeading = document.querySelector('#dessert-heading')
                let legalFontSizeControl = document.querySelector('#legal-font-size-control')
                let clearChanges = document.querySelector('#clear-changes')
                let riojasPrintPreviewButton = document.querySelector('#riojas-print-preview-button')
                let legalDisclaimerSwitch = document.querySelector('#legal-disclaimer-switch')
                let special = document.querySelectorAll('.special')

                riojasPrintPreviewButton.addEventListener('click',(event)=>{
                    event.preventDefault()
                    location.replace('/riojasPrintPreview')
                })
                clearChanges.addEventListener('click',(event)=>{
                    event.preventDefault()
                    location.reload()
                })
                riojasPaddingSides.addEventListener('input', function(evt){
                    riojasPage.style.paddingLeft = `${Number(this.value)}px`
                    riojasPage.style.paddingRight = `${Number(this.value)}px`
                })
                riojasPaddingBetween.addEventListener('input', function(evt){
                    p.forEach((special,i)=>{
                        special.style.paddingTop = `${(Number(this.value))/2}px`
                        special.style.paddingBottom = `${(Number(this.value))/2}px`
                    })
                })
                riojasFontSize.addEventListener('input', function(evt){
                    
                        riojasPage.style.fontSize = `${Number(this.value)}px`
                })
            
            </script>
        <script src="main.js"></script>
       
</body>
</html>